<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GeradorDeClientes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GeradorDeClientes.styles.css" asp-append-version="true" />
</head>
<body class="@(ViewData["BodyClass"] ?? "")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-transparent mb-3">
            <div class="container d-flex align-items-center justify-content-center">
                <div class="site-title-wrapper">
                    <div class="site-title floating-title">GeradorDeClientes</div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container content-wrap">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer-inner">
            <!-- footer intentionally left minimal; copyright removed -->
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>