@page
@model GeradorDeClientes.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    ViewData["BodyClass"] = "login-page";
}

<div class="login-box">
    <h2 style="margin-bottom:14px;">Entrar</h2>
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" type="email" asp-for="Usuario.Email" required />
        </div>

        <div class="mb-3">
            <label class="form-label">Senha</label>
            <input class="form-control" type="password" asp-for="Usuario.Senha" required />
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
        <div class="mb-3">
            <a href="/Register">Cadastrar novo usuário</a>
        </div>

        @if (!string.IsNullOrEmpty(Model.MensagemErro))
        {
            <div class="alert alert-danger" role="alert">@Model.MensagemErro</div>
        }
    </form>
</div>
